/* COLOR PALETTE HEX NUMBERS
    Blue: #003D59
    Gray: #424A4D
    Yellow: #FB9334
    Orange: #FE6624
    Light Turquoise: #46857D
    Dark Turquoise: #147071
*/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeColl, .collapsible:hover {
    background-color: #ccc;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }

  .activeColl:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  h1 {
    font-family: 'Poppins', semi-bold;
    text-align: center;
    color: white;
    font-size: 300%;
    margin: 0;
    padding: 15px;
    background-color: #46857D;
  }

  .nav {
    list-style-type: none;
    font-family: 'Poppins', semi-bold;
    overflow: hidden;
    width: 100%;
    background-color: #46857D;
    display: flex;
    justify-content: center;
  }

  .nav-item {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-item a:hover, a:active {
    color: #424A4D;
  }

  .active-nav a{
    color: #424A4D;
  }
